body {
  font-family: 'Roboto', sans-serif; }

header {
  background-color: #22705d; }

.logo {
  width: 120px;
  margin-left: 0;
  margin-bottom: 10px; }

.social-header {
  margin-top: 20px;
  margin-left: 305px; }
  .social-header .instagram {
    color: #b466a3;
    transition: color 0.5s; }
    .social-header .instagram .fa-inverse {
      color: white; }
  .social-header .instagram:hover {
    color: #9b4b89; }
  .social-header .twitter {
    color: #6262e9;
    transition: color 0.5s; }
    .social-header .twitter .fa-inverse {
      color: white; }
  .social-header .twitter:hover {
    color: #1d1ddb; }
  .social-header .whatsapp {
    color: #2ba149;
    transition: color 0.5s; }
    .social-header .whatsapp .fa-inverse {
      color: white; }
  .social-header .whatsapp:hover {
    color: #0e7c2a; }
  .social-header .mail {
    color: #fa4a4a;
    transition: color 0.5s; }
    .social-header .mail .fa-inverse {
      color: white; }
  .social-header .mail:hover {
    color: #a70909; }

.menu-bar {
  background-color: #70b8a6; }
  .menu-bar a {
    color: black;
    font-size: 16px;
    font-weight: 500; }
  .menu-bar a:hover {
    text-decoration: none;
    color: white; }

.menu-list {
  padding: 12px 0;
  margin-bottom: 0; }
  .menu-list li:not(:last-child) {
    margin-right: 40px; }

.carrito {
  color: black;
  transition: color 0.5s; }

.carrito:hover {
  color: darkgray; }

.carousel-caption {
  background-color: rgba(37, 36, 34, 0.75);
  height: 100%;
  left: 0;
  top: 0;
  padding: 10px 45px;
  text-align: left;
  width: 340px; }
