

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-image:url(/assents/img/elruso.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 120px;
    margin-left: 0;
    margin-bottom: 10px;
}
.social-header{
    margin-top: 20px;
    .instagram{
        color:rgb(180, 102, 163);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .instagram:hover{
        color:rgb(155, 75, 137) ;
    }
    .twitter{
        color: rgb(98, 98, 233);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .twitter:hover{
        color:rgb(29, 29, 219) ;
    }
    .whatsapp{
        color: rgb(43, 161, 73);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .whatsapp:hover{
        color:rgb(14, 124, 42) ;
    }
    .mail{
        color: rgb(250, 74, 74);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .mail:hover{
        color:rgb(167, 9, 9) ;
    }
}
.menu-bar {
    background-color:rgb(112, 184, 166);
    a{
        color: black;
        font-size: 16px;
        font-weight: 500;
    }
    a:hover{
        text-decoration: none;
        color: white;
    }
}
.menu-list{
    padding: 5px 0;
    margin-bottom: 0;
    li:not(:last-child){
        margin-right: 40px;
    }   
}
.carrito{
    color: black;
    transition: color 0.5s;
}
.carrito:hover{
    color: darkgray;
}
//--carrocel--//
.carousel-item{
    img{
        width: $ancho+200;
        height: ($largo)-50;
    }
}
.carousel-caption{
    background-color: rgba(37, 36, 34, 0.75);
    height: 100%;
    left: 0;
    top: 0;
    padding: 10px 45px;
    text-align: left;
    width: 340px;
    img{
        display: block;
        width: 150px;
        height: auto;
        max-width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    p{
        font-size: 14px;
        line-height: 18px;
    }
}
.slider-home{
    margin-bottom: 50px;
}
/*Main*/
.texto1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.boxnosotros{
    padding: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    background-image:url(/assents/img/Elbocado.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s;
    a{
        color: white;
        text-decoration: none;
    }
}
.boxnosotros:hover{
    background-image:url(/assents/img/puertaElbocado.jpg);
}
.boxproductos{
    padding: 100px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    background-image:url(/assents/img/caja6plus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s;
    
    a{
        color: white;
        text-decoration: none;
    }
}
.boxproductos:hover{
    background-image:url(/assents/img/caja12plus.jpg);
}

/*footer*/
.footer{
    background-color: rgb(112, 184, 166);
    margin-top: 20px;
}
.logofooter{
    width: 120px;
    margin-top: 15px;
    
}
.social-header2{
    margin-top: 20px;
    .instagram{
        color:rgb(180, 102, 163);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .instagram:hover{
        color:rgb(155, 75, 137) ;
    }
    .twitter{
        color: rgb(98, 98, 233);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .twitter:hover{
        color:rgb(29, 29, 219) ;
    }
    .whatsapp{
        color: rgb(43, 161, 73);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .whatsapp:hover{
        color:rgb(14, 124, 42) ;
    }
    .mail{
        color: rgb(250, 74, 74);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .mail:hover{
        color:rgb(167, 9, 9) ;
    }
}
/* ESTILO CSS PRODUCTO*/
.gridconteinerpadre{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 200px 300px;
    gap: 20px;
}
.gridcontainerpadre{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.container1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}
.gridgarras{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    gap: 20px;
    img{
        width: $ancho/2;
        height: $largo/2;
    }
}
.logoproducto{
    width: $ancho/4;
}


@media only screen and (min-width: 360px) and (max-width: 768px){
    .logo{
        margin-left: 100px;
    }
    .social-header{
        margin-right: 45px;
    }
    
    
    .menu-bar {
        background-color:rgb(112, 184, 166);
        a{
            color: rgb(252, 252, 252);
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            margin-left: 70px;
            
        }
        a:hover{
            text-decoration: none;
            color: white;
        }
    }
    .carrito{
        width: 107px;
        margin-top: 7px;
    }
    //--carrocel--//
.carousel-item{
    img{
        width: 300px;
        height: 300px;
    }
}
.carousel-caption{
    background-color: rgba(37, 36, 34, 0.75);
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
    text-align: left;
    width: 100px;
    img{
        display: block;
        width: auto;
        height: auto;
        max-width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    p{
        font-size: 10px;
        line-height: 14px;
    }
    a{
        font-size: 10px;
    }
}
.slider-home{
    margin-bottom: 50px;
}
/*Main*/
.texto1{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.boxnosotros{
    padding: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-image:url(/assents/img/Elbocado.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s;
    a{
        color: white;
        text-decoration: none;
    }
}
.boxnosotros:hover{
    background-image:url(/assents/img/puertaElbocado.jpg);
}
.boxproductos{
    margin-top: 5px;
    padding: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-image:url(/assents/img/caja6plus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s;
    
    a{
        color: white;
        text-decoration: none;
    }
}
.boxproductos:hover{
    background-image:url(/assents/img/caja12plus.jpg);
}

/*footer*/
.footer{
    background-color: rgb(112, 184, 166);
    margin-top: 20px;
}
.logofooter{
    width: 120px;
    margin-top: 15px;
    
}
.footer{
    background-color: rgb(112, 184, 166);
    margin-top: 20px;
}
.logofooter{
    width: 120px;
    margin-top: 15px;
    
}
.social-header2{
    margin-top: 20px;
    .instagram{
        color:rgb(180, 102, 163);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .instagram:hover{
        color:rgb(155, 75, 137) ;
    }
    .twitter{
        color: rgb(98, 98, 233);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .twitter:hover{
        color:rgb(29, 29, 219) ;
    }
    .whatsapp{
        color: rgb(43, 161, 73);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .whatsapp:hover{
        color:rgb(14, 124, 42) ;
    }
    .mail{
        color: rgb(250, 74, 74);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .mail:hover{
        color:rgb(167, 9, 9) ;
    }
}
 
}