body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(34, 112, 93);
}
.logo{
    width: 120px;
    margin-left: 0;
    margin-bottom: 10px;
}
.social-header{
    margin-top: 20px;
    margin-left: 305px;
    .instagram{
        color:rgb(180, 102, 163);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .instagram:hover{
        color:rgb(155, 75, 137) ;
    }
    .twitter{
        color: rgb(98, 98, 233);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .twitter:hover{
        color:rgb(29, 29, 219) ;
    }
    .whatsapp{
        color: rgb(43, 161, 73);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .whatsapp:hover{
        color:rgb(14, 124, 42) ;
    }
    .mail{
        color: rgb(250, 74, 74);
        transition: color 0.5s;
        .fa-inverse{
            color: white;
        }
    }
    .mail:hover{
        color:rgb(167, 9, 9) ;
    }
}
.menu-bar {
    background-color:rgb(112, 184, 166);
    a{
        color: black;
        font-size: 16px;
        font-weight: 500;
    }
    a:hover{
        text-decoration: none;
        color: white;
    }
}
.menu-list{
    padding: 5px 0;
    margin-bottom: 0;
    li:not(:last-child){
        margin-right: 40px;
    }   
}
.carrito{
    color: black;
    transition: color 0.5s;
}
.carrito:hover{
    color: darkgray;
}
//--carrocel--//
.carousel-caption{
    background-color: rgba(37, 36, 34, 0.75);
    height: 100%;
    left: 0;
    top: 0;
    padding: 10px 45px;
    text-align: left;
    width: 340px;
    img{
        display: block;
        width: 150px;
        height: auto;
        max-width: 100%;
        margin-bottom: 15px;
    }
    p{
        font-size: 14px;
        line-height: 18px;
    }
    h3{
        font-size: 25px;
        line-height: 30px;
    }
}
.slider-home{
    margin-bottom: 50px;
}